body{
padding-left: 10%;
}
h1
{
    font-family: verdana;
}
h5
{
    font-family: verdana;
}
form input[type=text]
{
    border-radius: 10px;
    width: 35%;
   padding: 12px;
   
   
}
label
{
    font-family: verdana;
}
.icon {
    position: relative;
    left: 10px;
    top: 0;
    font-size: 15px;
    color: #aaa;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.button 
{
   margin-right: 200px;
}





.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.cart{
     
    font-family: verdana;
  
    margin-right:5%;
    border:#ccc;
    border-style:solid;
    border-radius: 20px;
    border-style: solid;
    padding:20px;
    background:#ccc;
    color:white;
    width: 20%;
    
    float: right;

}


.cart .total p
{
    border-top: 3px solid rgb(0, 0, 0);
}
.cart .total
{
    padding-top: 30px;
}

label
{
    padding-bottom: 20px;
}



.country{
   width: 30%;
   float: left;
  
margin-right: 7px;
}

.country select
{
    border-radius: 10px;
    width: 60%;
   padding: 12px;

}

.postalcode input[type=text]
{
    width : 20%;
}
.box
{
    align-content:center;
}
